<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="pattern"
              value="{${HOSTNAME}} [%thread] {%X{traceId}} {%X{processId}} %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c{1} - %msg%n%throwable"/>
    <property name="patternTcp"
              value="{ProductPricesDbApi} {$${env:HOSTNAME}} [%thread] {%X{traceId}} {%X{processId}} %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c{1} - %msg%n%throwable"/>
    <property name="folder" value="./usage-service"/>
    <property name="filename" value="usage-service"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] {%mdc{traceId}} : %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${folder}/${filename}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${pattern}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${folder}/%d{yyyy-MM}/${filename}_error-%d{MM-dd-yyyy}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at WARN level -->
    <root level="info">

        <appender-ref ref="Console"/>
    </root>

    <logger name="ru.ov4innikov" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.jdbc" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.apache.hc.client5" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.ws.client.MessageTracing" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.amqp.rabbit.core" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

</configuration>